@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");
:root {
  --primary-color: #6d28d9;
  --white-color: #ffffff;
  --gray: #6b7280;
  --off-white: #e5e7eb;
  --white: rgb(255, 255, 255);
}

body {
  font-family: "Nunito", sans-serif;
  font-size: large;
}

.fluid-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  margin: auto;
  max-width: 700px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.primary-link {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}
.secondary-link {
  text-decoration: none;
  border: 1px var(--primary-color) solid;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}
hr {
  margin: 2rem 0rem;
}

.unordered {
  list-style: none;
}

.list-inline li {
  display: inline;
  padding: 0rem 1rem;
}

.navigation {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-top-left-radius: 1rem;
  padding: 1rem 1rem;
}
.navigation .brand {
  font-weight: bold;
}
.navigation li {
  display: inline;
  padding: 4rem 1rem;
  /* margin-left: auto; */
}
.navigation ul {
  text-align: right;
}
.navigation a {
  color: var(--white);
  text-decoration: none;
}
.navigation .active {
  font-weight: bold;
}
.hero {
  padding-top: 4rem;
}

.hero img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.hero h1 {
  margin: auto;
  padding-top: 2rem;
  padding-left: 3rem;
}
.hero .hero-heading .heading-inverted {
  color: var(--gray);
}
.hero .header-heading2 {
  margin: 0px 0px 0px 60px;
}
.hero-container {
  text-align: center;
}
.section {
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  text-align: center;
  max-width: 700px;
}
.ow {
  background-color: var(--off-white);
}

.footer {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  border-top-right-radius: 2rem;
}

.footer ul {
  margin-block-start: 1rem;
  padding-inline-start: 0px;
  padding: 2rem 0rem;
}
.footer .footer-heading {
  font-weight: bold;
}
.footer a {
  text-decoration: none;
  color: var(--white);
}
.project-container {
  text-align: center;
  padding: 3rem;
  margin-top: 3rem;
  max-width: 600px;
  margin: auto;
}

.unordered .list {
  margin: 3rem;
}

.hero .header-inverted {
  color: var(--gray);
}

.blog-container {
  margin-top: 5rem;
  text-align: center;
}
